

  h2{
    margin-left: 6%;
  }

  main{
    display: flex;
    justify-content: center;
    margin: 0 6%;
    padding: 10px;
    width: auto;
    flex-direction: column;

  }
  
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 300px;
    
  }
  
  p{
    text-align: justify;
    margin: 1%;
  }
  nav{
    margin: 0 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer{
    margin-top: 44px;
    padding: 10px;
    
  }

  header>nav>ul>li{
    padding: 10px;
    text-align: center;
    list-style: none;
    list-style-type: none;
  }

  header>nav>ul{
    padding: 10px;
    text-align: center;
    list-style: none;
    list-style-type: none;
  }
  
  textarea{
    height: 200px;
    margin: 6px 0;
    width: 100%;
    resize: none;
    outline: none;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0 6%;
    padding: 20px;
    align-content: center;
  }
  input{
    outline: none;
    height: 30px;
    margin: 0.5% 0;
    width: 100%;
  }
  
  fieldset{
    display: flex;
    width: 98%;
    margin: 6px 0;
    text-align: left;
  }
  label{
    margin-top: 10px;
  }
  img {
      width: 33%; /*Problema que se muestre más grande que el tamaño real, se pixelará*/
      height: auto;
      margin: auto;
      display: block;
    }
    audio{
        max-width: 100%;
        height: auto;
        margin:auto; 
    }
    video{
      max-width: 100%;
      height: auto;
      margin:auto;
    }
  
    table {
      margin: 1%;
      width: 33%;
      height: auto;
   }
  
   th, td {
      width: 25%;
      text-align: left;
      border-collapse: collapse;
   }